* {
    box-sizing: border-box;
}
html, body {
    width: 100% !important;
    height: 100% !important;
    font-weight: bold;
   
}
html{
    --tema-padrao: #0077FF;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --bg-container: rgba(0, 0, 0, 0.1);
    --secundary-color: #FCFCFC;
    --color: rgba(0, 0, 0, 0.8);
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-title: #262626;
}

h3{
    font-size: 2em;
}
.row{
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    span {
        font-size: 2.3em;
    }
    img {
        width: 150px;
        height: 150px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 25px 25px 0 0;
    }
}
.list {
    .inline-list {
        display: inline;
        margin: 0 15px;
    }
}
.input-field label.active, span {
    font-size: 1.4rem;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
h5{
    font-size: 14px;
    margin: 10px auto;
    
}
h6 {
    font-size: 14px;
    margin-left: -6.5px;
}
button h6 {
    margin-left: -12.5px;
}
.btn-continuar{
    background-color:var(--tema-padrao);
    height: 50%;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid var(--tema-padrao);
    text-shadow: 1px 1px #fff;
    padding: 8px;}
.btn-continuar:active{
    background-color: #333333;
}
.btn-continuar:hover{
    border: 1px solid var(--bg);

}
p{
    padding: 0;
    margin: 0;
}
.btnP{

    background-color: rgba(41, 116, 238, 0.5);
    border: 1px solid var(--color-text);
    font-family: 'Consolas';
    font-size: 1.1em;
    padding: 6px 10px;  
}  

.light-blue.darken-2.right.btn.waves-effect.waves-light {
    width: 88.77px;
    height: 36px;
    
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/icons.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
body {
    background-color: var(--bg);
}
form{
    width: 80%;
    margin: 0 auto;
}
title, h2, h3, h4, h5, h6, label, p, input, li, button, span{
    color: var(--color-text);
}
.dropdown-content {
    background-color: var(--bg);
}
.dropdown-content li>a, .dropdown-content li>span{
    color: var(--color-text);
}
.select-dropdown li.enable, .select-dropdown li.enable>span, .select-dropdown li.optgroup {
    color: var(--monocromatic-color);
}
.m-right{
    margin-right: 1em;
}
h1{
    color: var(--color-title);
    margin:  0.3em 0;
}
h3, label{
    //color: #000;
}
::placeholder{
    color: var(--color-text);
}
.container {
    background-color: var(--bg-container);
    margin: 0 auto;
    padding: 0.5em 4em;
    border-radius: 15px;
    display: block;
}
.flex{
    display: flex;
}
//  TOGGLE BUTTON

.toggle {
    margin-left: 1em;
    --width: 5em;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
}
.toggle__input {
    display: none;
}
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #aeaeae;
    transition: background 0.2s;
}
.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
    background: var(--tema-padrao);
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}